body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    
    
}
#box1{
    background-color: hsl(0, 87%, 36%);
    margin-left: auto;
}
#box2{
    background-color: rgb(48, 48, 145);
    margin: auto;
    
}